/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.data/mysql
.logs/apache2/error.log
.logs/apache2/other_vhosts_access.log
/storage/api-docs/api-docs.json
/resources/views/vendor/l5-swagger/index.blade.php
/resources/views/vendor/l5-swagger/.gitkeep
